.App {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  background-color: gray;
  color: white;
}

.header span {
  font-size: 32px;
  margin-bottom: 10px;
}

.header div:last-child {
  display: none;
}

.navbar {
  margin: 20px;
}

.navbar a {
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  border-radius: 4px 4px 0px 0px;
  background-color: gray;
  margin-right: 10px;
}

/* .navbar a:hover, .navbar .selected {
  background-color: #D3AB8B;
} */

.search input {
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.search button {
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

.main {
  padding: 10px
}

@media screen and (min-width: 768px){
  .header {
    flex-direction: row;
  }

  .header span {
    margin-bottom: 0px;
    width: 150px;
  }

  .header div:last-child {
    display: block;
    width: 150px;
    text-align: end;
  }
}